header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://i.postimg.cc/R0kHRvRj/blur-branch-celebration-281618.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

#header-div {
    margin-top: 90px;
}

.btn-primary {
    background-color: crimson !important;
    border-color: #bc1b3b !important;
}

.btn-primary:hover {
    background-color: #f05272 !important;
}

section {
  padding: 150px 0;
}


