
nav {
    font-family: 'Unlock', cursive;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: silver !important;
}

.nav-link:focus {
    color: #f05272 !important;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.postimg.cc/R0kHRvRj/blur-branch-celebration-281618.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

#errorMessage {
  color: red;
  font-size: 90% !important;
}

form {
    font-family: 'Nunito', sans-serif;
}

#header-div {
    margin-top: 90px;
}

h1 {
    font-family: 'Unlock', cursive;
    font-weight: bold;
}

h2 {
    font-family: 'Unlock', cursive;
    text-align: center;
}

p {
    font-family: 'Nunito', sans-serif;
}

.btn-primary {
    background-color: crimson !important;
    border-color: #bc1b3b !important;
}

.btn-primary:hover {
    background-color: #f05272 !important;
}

.btn-secondary {
    border-color: #bc1b3b !important;
    background-color: crimson;
    margin-top: 10px;
    padding: 5px 40px;
}

.btn-secondary:hover {
    background-color: #f05272 !important;
}

section {
  padding: 100px 0;
}

h4 {
  margin-top: -5px;
}

/* Todo list */
main{
    align-content: center;
    margin: auto;
    border-radius: 25px;
    padding: 50px;
}

.close {
    cursor: pointer;
    -webkit-appearance: none;
    font-size: 21px;
    display: flex;
    align-self: flex-end;
    margin-right: 4px;
}

#todo-input{
    margin-right: 5px;
    margin-left: 5px;
    padding: 0 1%;
}
#todo-list{
    padding: 0 1%;
    margin: auto;
}
#entryinput{
    border-radius: 5px;
    width: 100%;
}
#submit{
    margin: 2% 25%;
    width: 50%;
}
#internalList{
    padding-left: 0;
    overflow-y: scroll;
}
.upasana{
    list-style: none;
    background-color: #ccc;
    border-radius: 25px;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left:0;
    margin-right: 5px;
}
.todo-btns{
    float:right;
    margin-top: -3px;
}

.delete-btn {
    border-radius: 25px;
    border: none;
}

@media screen and (max-width: 520px){
    .todo-btns{
        float:none;
    }
    .upasana{
        text-align: center;
    }

}
/* Modals */
#myModal a {
  text-decoration: none;
}

#myModal {
  max-width: 500px;
}

.modal-dialog {
  max-width: 800px;
}

.modal-content {
  margin-left: 8px;
  margin-right: 5px;
}

#largeModal {
  max-width: 800px;
}

.modal {
  margin: 5px auto;
}

footer {
    font-family: 'Nunito', sans-serif;

}
